/* Styles for the SC player */


#player-container-placeholder {
  padding: 10px;
	width: 100%;
	height: 80px;
	position: absolute;
	bottom: 80px;
	repeat-x scroll 0% 0%;
	-moz-background-clip: -moz-initial;
	-moz-background-origin: -moz-initial;
	-moz-background-inline-policy: -moz-initial;
	z-index: 10000;
  background: #d6d6d6 url('../images/bg.png') 0 -51px repeat-x;
}


#player {
  height: 50px;
  padding: 10px 80px 0 120px;
  position: relative;
}

.metadata {
  padding-top: 5px;
  font-family: "Interstate light", interstate-light, "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

#player .prev, #player .pause, #player .next {
  position: absolute;
  top: 7px;
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-border-radius: 7px;  
}

#player .prev {
  left: 0;
}

#player .pause {
  left: 60px;
}

#player .next {
  right: 20px;
}

#player .waveform {
  height: 50px;
  background: #0f0;
  position: relative;
  top: -2px;
}

#player .waveform img {
  height: 50px;
  width: 100%;
  position: absolute;
}

#player .waveform .loading {
  height: 50px;
  width: 80%;
  background: #f00;
  position: absolute;
  top: 0;
}

#player .waveform .progress {
  height: 50px;
  width: 40%;
  background: #eee;
  position: absolute;
  top: 0;
  opacity: 0.45;
  -moz-opacity: 0.45;
  filter: alpha(opacity=45);
  
}

#player .waveform .progress-bar {
  height: 50px;
  width: 1px;
  background: #000;
  position: absolute;
  top: 0;
  left: 40%;
}

