/* Styles for the SC player */


#player-container {
  padding: 10px 0;
	width: 100%;
	height: 80px;
	position: absolute;
	bottom: 35px;
	overflow: hidden;
	repeat-x scroll 0% 0%;
	-moz-background-clip: -moz-initial;
	-moz-background-origin: -moz-initial;
	-moz-background-inline-policy: -moz-initial;
	z-index: 10000;
  background: #d6d6d6 url('../images/bg.png') 0 -51px repeat-x;
  -moz-user-select : none;
  -khtml-user-select : none;
}


#player {
  height: 50px;
  padding: 10px 10px 0 70px;
  position: relative;
  -moz-user-select : none;
  -khtml-user-select : none;
}

.metadata {
  font-family: "Interstate light", interstate-light, "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 5px 100px 0 10px;
  font-size: 15px;
  height: 18px;
}

.metadata div {
  float: left;
}

.show-on-map {
  outline: 0;
  display: block;
  float: left;
  margin: 0px 4px 0 7px;
  width: 38px;
  height: 22px;
  background: transparent url('../images/world_small.png') 0 0 no-repeat;
  text-indent: -9999px;
}

.actions {
  position: absolute;
  right: 10px;
  top: 15px;
}

.actions a, .actions span {
  outline: 0;
  display: block;
  float: left;
  margin-right: 2px;
  height: 18px;
  font-size: 15px;
  font-family: "Interstate light", interstate-light, "Lucida Grande", Helvetica, Arial, sans-serif;       
}

.share-on-twitter {
  width: 16px;
  height: 16px;
  background: transparent url('../images/twitter.png') top left repeat-x;
  text-indent: -9999px;
}

.share-on-facebook {
  width: 16px;
  height: 16px;
  background: transparent url('../images/fb.png') top left repeat-x;
  text-indent: -9999px;
}

.share-link {
  width: 16px;
  height: 16px;
  background: transparent url('../images/link.png') top left repeat-x;
  text-indent: -9999px;
  margin-left: 1px;
}


#player .prev, #player .pause, #player .next, #player .play {
  position: absolute;
  top: 7px;
  width: 50px;
  height: 50px;
  border: 1px solid #afafaf;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-border-radius: 7px;  
  text-indent: -9999px;
  background: #d6d6d6 url('../images/controls.png') 0 -51px repeat-x;
  cursor: pointer;
}

#player .prev {
  left: 0;
  background-position: 7px 4px;
}

#player .play {
  left: 10px;
  background-position: 10px -172px;
}

body.playing #player .pause {
  background-position: 8px -107px;
}

#player .pause {
  left: 10px;
  background-position: 10px -172px;
}

#player .next {
  right: 10px;
  background-position: 8px -55px;
}

#player .time {
  position: absolute;
  top: 12px;
  right: 75px;
  z-index: 100000;
  font-size: 10px;
  line-height: 10px;
  background: #fff;
  opacity: 0.75;
  -moz-opacity: 0.75;
  filter: alpha(opacity=75);  
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 1px;
}

#player .cover {
  background: transparent url('../images/cover.png') top left repeat-x;
}
#player .waveform {
  height: 50px;
  background: #ccc;
  position: relative;
  margin-right: 60px;
  top: -3px;
  border: 1px solid #ccc
}

#player .waveform img {
  height: 50px;
  width: 100%;
  position: absolute;
}

#player .waveform .loading {
  height: 50px;
  width: 0%;
  background: #424242;
  position: absolute;
  top: 0;
}

#player .waveform .progress {
  height: 50px;
  width: 0;
  background: #FF4700;
  border-right: 1px solid #FF9800;
  position: absolute;
  top: 0;
}

#player .waveform .cover {
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0;
}

.by-soundcloud {
  padding: 0 0 0 10px;
  font-size:11px;
  color:#343434;
  width:100%;
  height:35px;
  max-height:35px;
  overflow:hidden;
  line-height:35px;
  position:fixed;
  bottom:0;
  background:url(../images/bg2.png) 0 0 repeat-x;
}

.by-soundcloud a {
  color:#fff;
}

.by-soundcloud > a {
  float:right;
  margin:3px 18px 0 0;
}

.find-meetup {
  width:100%;
  height:36px;
  max-height:36px;
  overflow:hidden;
  line-height:36px;
  position:absolute;
  top:0;
  left:0;
  background:url(../images/bg2.png) 35px 100% repeat-x;
}

.find-meetup h1 {
  margin:6px 0 0 8px;
  float:left;
}

.find-meetup > a {
  margin:7px 9px 0 0;
  float:right;
}

#map_canvas {
  top:36px;
}