@font-face {
  font-family: "Interstate";
  font-weight: normal;
  src: local("interstate-regular"), url(/fonts/Interstate-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Interstate light";
  font-weight: light;
  src: local("Interstate-Light"), url(/fonts/Interstate-Light.ttf) format("truetype");
}

body, html {
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 1.3em;
  font-family: "Lucida Grande", Verdana, Arial;
  color: #333;
  overflow: hidden;
}
  
h3 {
  margin: 0 0 0 0;
  line-height: 1.3em;
  font-weight: normal;
}

a {
  color: #06c;
  text-decoration: none;
}

a:hover {
  color: #f60;
  text-decoration: none;
}

#map_canvas {
  height: 100%;
}

#bubble-template{
  display:none;
}

.bubble {
  clear: both;
  width: 350px;
}

.bubble .artwork {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
  background: #f60;
}

.bubble .artwork img {
  position: absolute;
  z-index: 10000;
}

.bubble .artwork .play-button {
  position: absolute;
  z-index: 100000;
  width: 100px;
  height: 100px;
  display: block;
  text-indent: -9999px;
  background: transparent url('../images/play.png') 40px 30px no-repeat;
  outline: 0;
}

.bubble .play-button.smaller {
  display: block;
  font-size: 18px;
  margin: 10px 0 0 110px;
  padding: 2px 5px 5px 5px;
  outline: 0;
  background: #f60;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  width: 100px;
  color: #fff;
  font-family: "Interstate light", interstate-light, "Lucida Grande", Helvetica, Arial, sans-serif;
}

.bubble .title {
  display: block;
  color: #333;
}

.bubble .city {
  border-bottom: 1px solid #efefef;
  margin: -5px 0 5px 0;
  padding: 0 0 3px 0;
  width: 345px;
}

.bubble .city .city-name {
  font-weight: bold;
}

.bubble .info {
  border-bottom: 1px solid #efefef;
  margin: 0 0 5px 0;
  padding: 0 0 0px 0;
}

.bubble .info ul li {
  margin-bottom: 5px;
}

.bubble .info ul li span.artist {
  font-weight: bold;
}

.bubble .avatar {
  float: left;
  height: 100px;
  width: 100px;
  margin: 0 10px 0 0;
  
}

.bubble ul {
  list-style-type:none;
  clear: left;
  margin: 0;
  padding: 0;
}

.bubble ul li {
  float: left;
}

.bubble ul li.previous, .bubble ul li.next {
  text-indent: -9999px;
  background: #ccc;
  width: 0px;
  margin: 0;
  }

.bubble ul li.current {
  width: 350px;
  margin-right: 0;
  color: #999;
}

.bubble ul li.current a {
  color: #999;
}

.bubble ul.track-list li.next, .bubble ul.tracks-list li.next {
  margin-right: 0;
}

.bubble ul.track-list li {
  height: 100px;
}

.bubble ul.tracks-list {
  padding-top: 10px;
}

.bubble ul.tracks-list li.mini-artwork a {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background: #efefef;
  text-indent: -9999px;
  outline: 0;
  background: #f60;
}

.bubble h5 {
  margin:5px 0;
  padding:0;
  font-size:13px;
  font-weight:normal; 
}

.bubble .lng, .bubble .lat, .bubble .waveform {
  display:none;
}


.options {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  background: #efefef;
  font-family: "Interstate light", interstate-light, "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.7em;
}

.options .genres {
  height: 35px;
  color: #999;
  padding: 5px 10px 0 10px;
  background: #696969 url('../images/bg.png') top left repeat-x;
}

.options .genres a {
  color: #d6d6d6;
  padding: 0 3px;
  outline: 0;
}

.options .genres a.active {
  color: #fff;
  background: #f60;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.options .jump-to {
  display: none;
  position: relative;
  height: 35px;
  padding: 5px 10px 0 10px;
  background: #d6d6d6 url('../images/bg.png') 0 -51px repeat-x;
}

.options .jump-to form {
  position: absolute;
  right: 10px;
  top: 4px;
}

.footer {
  height: 200px;
}
