/* HTML5 ✰ Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: hidden; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


@font-face {
 font-family: "Interstate light";
 font-weight: light;
 src: local("Interstate-Light"), url("./fonts/Interstate-Light.ttf") format("truetype");
}

body, html {
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 1.3em;
  font-family: "Lucida Grande", Verdana, Arial;
  color: #333;
  -moz-user-select : none;
  -khtml-user-select : none;
}

h1, h2 {
  font-weight: normal;
  margin: 0 0 0em 0;
  line-height: 1.3em;
  font-family: "Interstate light", interstate-light, "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 21px;
}

h2 {
  font-size: 21px;
  color: #666;
  margin-bottom: 15px;
}

h3 {
  margin: 0;
  line-height: 1.3em;
  font-weight: normal;

}

a {
  color: #FF4700;
  text-decoration: none;
}

a:hover {
  color: #FF4700;
  text-decoration: none;
}

#map_canvas {
  height: 100%;
  width: 100%;
}

#bubble-template{
  display: none;
}

.box, .share-box {
  position: absolute;
  left: 50%;
  top: 40%;
  margin-left: -242px;
  margin-top: -150px;
  width: 450px;
  background: white;
  line-height: 1.4em;
  border: 5px solid rgb(213,213,213);
  -webkit-box-shadow : 3px 3px 5px rgba(0,0,0,0.3);
  -moz-box-shadow : 3px 3px 5px rgba(0,0,0,0.3);
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 20px;
  display: none;
  z-index: 20;
}

.box #built-by {
  color: #696969;
}

.box #built-by em {
  color: #333;
  font-style: normal;
}

.box #built-by a {
  color: #ff6600;
}

.box #built-by a:hover {
  text-decoration: underline;
}

.box #built-by p {
  margin: 7px 0 0 0;
  font-size: 13px;
}

.box h1,
.box h2 {
  font-size: 22px;
}

.box h3 {
  margin: 0 -5px 20px 0px;
  padding: 10px 10px 10px 133px;
  color: #eee;
  font-size: 14px;
  line-height: 1.4em;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #696969 url('../images/world_white.png') 7px 12px no-repeat;
}

.donate-box h3 {
  padding: 10px 10px 10px 200px;
  line-height: 3em;
  background: #696969 url('../images/concern_worldwide_white_smaller.png') 7px 12px no-repeat;
}

.box h3 a {
  color: #fff;
  background: #ff6600;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 1px 3px;
}


.share-box {
  width: 400px;
  margin-left: -230px;
  margin-top: -100px;
}
  .share-box h1 {
    margin: -10px 0 15px 0;
    padding: 0;
  }

  .share-box input {
    width: 100%;
    font-size: 16px;
  }

.box a.close, .share-box a.close {
  text-decoration: none;
  float: right;
  margin-right: -5px;
  margin-top: -5px;
  text-decoration: none;
  font-size: 20px;
/*  text-indent: -9999px;*/
  width: 11px;
  height: 11px;
  display: block;
/*  background: transparent url(/images/icons.png) no-repeat -289px -6px;*/
  outline: 0;
}

.bubble {
  clear: both;
  width: 350px;
  font-size: 13px;
}

.bubble .artwork {
  cursor: pointer;
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
  background: #fff;
}

.bubble .artwork img {
  position: absolute;
  z-index: 10000;
}

.bubble .artwork .play-button {
  position: absolute;
  z-index: 100000;
  width: 100px;
  height: 100px;
  display: block;
  text-indent: -9999px;
  outline: 0;
}


.bubble .play-button.smaller {
  display: block;
  font-size: 18px;
  margin: 10px 0 0 110px;
  padding: 2px 5px 5px 5px;
  outline: 0;
  background: #FF4700;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  width: 120px;
  text-align: center;
  color: #fff;
  font-family: "Interstate light", interstate-light, "Lucida Grande", Helvetica, Arial, sans-serif;
}

.bubble .title {
  display: block;
  color: #333;
  margin-bottom: 4px;
}

.bubble .city {
  border-bottom: 1px solid #efefef;
  margin-bottom: 5px;
  padding: 0 0 3px 0;
  width: 345px;
}

.bubble .actions {
  right: 12px;
  top: 0;
}

.bubble .city .city-name {
  font-weight: bold;
}

.bubble .info {
  border-bottom: 1px solid #efefef;
  margin: 0 0 5px 0;
  padding: 0 0 0px 0;
}

.bubble .info ul li {
  margin-bottom: 5px;
}

.bubble .info ul li span.artist {
  font-weight: bold;
}

.bubble .avatar {
  cursor: pointer;
  float: left;
  height: 100px;
  width: 100px;
  margin: 0 10px 0 0;

}

.bubble ul {
  list-style-type:none;
  clear: left;
  margin: 0;
  padding: 0;
}

.bubble ul li {
  float: left;
}

.bubble ul li.previous, .bubble ul li.next {
  text-indent: -9999px;
  background: white;
  width: 0px;
  margin: 0;
}

.bubble ul li.current {
  width: 350px;
  margin-right: 0;
  color: #999;
  height: 110px;
}

.bubble ul li.current a {
  color: #999;
}

.bubble ul li.current div.current-meta {
  height: 67px;
}

.bubble ul.track-list li.next, .bubble ul.tracks-list li.next {
  margin-right: 0;
}

.bubble ul.track-list li {
}

.bubble ul.tracks-list {
  height: 34px;
  width: 350px;
  overflow: hidden;
}

.bubble ul.tracks-list li.mini-artwork {
  cursor: pointer;
  float: left;
  display: block;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  outline: 0;
  background: #fff;
  border: 1px solid #fff;
}

html.csstransitions .bubble ul.tracks-list li.mini-artwork {
  opacity: 0.4;
}

.bubble ul.tracks-list li.mini-artwork.active {
  border: 1px solid #FF4700;
}

html.csstransitions .bubble ul.tracks-list li.mini-artwork.active {
  border: 1px solid #fff;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}


.bubble h5 {
/*  margin:5px 0;*/
  padding:0;
  font-size:13px;
  font-weight:normal;
}

.bubble .lng, .bubble .lat, .bubble .waveform {
  display:none;
}

.options {
  position: absolute;
  bottom: 0;
/*  height: 40px;*/
  height: 0px;
  width: 100%;
  background: #efefef;
  font-family: "Interstate light", interstate-light, "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.7em;
}

.options .genres {
  height: 35px;
  color: #999;
  padding: 5px 10px 0 10px;
  background: #696969 url('../images/bg.png') top left repeat-x;
  font-family: "Interstate light", interstate-light, "Lucida Grande", Helvetica, Arial, sans-serif;
}

.options .genres a {
  color: #d6d6d6;
  padding: 0 3px;
  outline: 0;
}

.options .genres a.active {
  color: #fff;
  background: #FF4700;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.toam a{
  position: absolute;
  left: 10px;
  top: 6px;
  color: #333;
  padding-left: 75px;
  background: transparent url('../images/world.png')  top left no-repeat;
}

.cwsc {
  display: none;
}

.cwsc a {
  position: relative;
  left:500px;
}

.cwsc img {
  top: 5px;
  border: none;
}

/*#cwsc-button {
  display: block;
}
*/
.favorite-status {
  outline: 0 none;
}

.favorite-status img{
  padding-left: 10px;
  display: none;
  border: none;
}

.favorite-status .favorite-spinner{
  height: 18px;
  width: 18px;
  padding-left: 55px;
}

.options .jump-to {
  position: relative;
  height: 35px;
  padding: 5px 10px 0 10px;
  background: #d6d6d6 url('../images/bg.png') 0 -51px repeat-x;
  font-family: "Interstate light", interstate-light, "Lucida Grande", Helvetica, Arial, sans-serif;
}

.options .jump-to a.powered-by {
  position: absolute;
  right: 10px;
  top: 6px;
  color: #999;
  padding-right: 55px;
  background: transparent url('../images/small-cloud.png')  100% 48% no-repeat;
}

.waveform .loading {
  background: #d6d6d6 url('../images/bg.png') 0 -51px repeat-x;
}

.waveform .spinner {
  background: transparent url('../images/ajax-loader.gif') 0 0 repeat-x;
  width: 32px;
  height: 32px;
  position: absolute;
  margin-left: 16px;
  left: 50%;
  top: 10px;
}

/* Styles for the SC player */

body {
  overflow:hidden;
}

a img {
  border:0;
}

#player-container {
  display: none;
  padding: 10px 0;
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 35px;
  overflow: hidden;
  repeat-x scroll 0% 0%;
  -moz-background-clip: -moz-initial;
  -moz-background-origin: -moz-initial;
  -moz-background-inline-policy: -moz-initial;
  z-index: 10000;
  background: #d6d6d6 url('../images/bg.png') 0 -51px repeat-x;
  -moz-user-select : none;
  -khtml-user-select : none;
}


#player {
  height: 50px;
  padding: 10px 10px 0 70px;
  position: relative;
  -moz-user-select : none;
  -khtml-user-select : none;
}

.metadata {
  font-family: "Interstate light", interstate-light, "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 5px 100px 0 10px;
  font-size: 15px;
  height: 18px;
}

.metadata div {
  float: left;
}

.show-on-map {
  outline: 0;
  display: block;
  float: left;
  margin: 0px 4px 0 7px;
  width: 38px;
  height: 22px;
  background: transparent url('../images/world_small.png') 0 0 no-repeat;
  text-indent: -9999px;
}

.actions {
  position: absolute;
  right: 10px;
  top: 15px;
}

.actions a, .actions span {
  outline: 0;
  display: block;
  float: left;
  margin-right: 2px;
  height: 18px;
  font-size: 15px;
  font-family: "Interstate light", interstate-light, "Lucida Grande", Helvetica, Arial, sans-serif;
}

.share-on-twitter {
  width: 16px;
  height: 16px;
  background: transparent url('../images/twitter.png') top left repeat-x;
  text-indent: -9999px;
}

.share-on-facebook {
  width: 16px;
  height: 16px;
  background: transparent url('../images/fb.png') top left repeat-x;
  text-indent: -9999px;
}

.share-link {
  width: 16px;
  height: 16px;
  background: transparent url('../images/link.png') top left repeat-x;
  text-indent: -9999px;
  margin-left: 1px;
}


#player .prev, #player .pause, #player .next, #player .play {
  position: absolute;
  top: 7px;
  width: 50px;
  height: 50px;
  border: 1px solid #afafaf;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  text-indent: -9999px;
  background: #d6d6d6 url('../images/controls.png') 0 -51px repeat-x;
  cursor: pointer;
}

#player .prev {
  left: 0;
  background-position: 7px 4px;
}

#player .play {
  left: 10px;
  background-position: 10px -172px;
}

#player.playing .pause {
  background-position: 8px -107px;
}

#player .pause {
  left: 10px;
  background-position: 10px -172px;
}

#player .next {
  right: 10px;
  background-position: 8px -55px;
}

#player .time {
  position: absolute;
  top: 12px;
  right: 75px;
  z-index: 100000;
  font-size: 10px;
  line-height: 10px;
  background: #fff;
  opacity: 0.75;
  -moz-opacity: 0.75;
  filter: alpha(opacity=75);
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 1px;
}

#player .cover {
  background: transparent url('../images/cover.png') top left repeat-x;
}

@-webkit-keyframes pulsate {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}

#player .waveform {
  height: 50px;
  background: #ccc;
  position: relative;
  margin-right: 60px;
  top: -3px;
  border: 1px solid #ccc;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#player.activating .waveform {
  -webkit-animation: pulsate 1s infinite ease-in-out;
  -webkit-animation-fill-mode: forwards;
}


#player .waveform img {
  height: 50px;
  width: 100%;
  position: absolute;
}

#player .waveform .loading {
  height: 50px;
  width: 0%;
  background: #424242;
  position: absolute;
  top: 0;
}

#player .waveform .progress {
  height: 50px;
  width: 0%;
  background: #FF4700;
  border-right: 1px solid #FF9800;
  position: absolute;
  top: 0;
}

#player .waveform .cover {
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0;
}

.by-soundcloud {
  padding: 0 0 0 10px;
  font-size:11px;
  color:#343434;
  width:100%;
  height:35px;
  max-height:35px;
  overflow:hidden;
  line-height:35px;
  position:fixed;
  bottom:0;
  background:url(../images/bg2.png) 0 0 repeat-x;
}

.by-soundcloud {
  float:left;
}

.by-soundcloud a {
  color:#fff;
}

.by-soundcloud > a {
  position:absolute;
  right:0;
  margin:3px 18px 0 0;
}

body > header {
  width:100%;
  height:36px;
  max-height:36px;
  overflow:hidden;
  line-height:36px;
  position:absolute;
  top:0;
  left:0;
  background:url(../images/bg2.png) 35px 100% repeat-x;
}

body > header h1 {
  margin:6px 0 0 8px;
  float:left;
}

body > header > a {
  margin:7px 9px 0 0;
  float:right;
}

#map_canvas {
  top:36px;
}


.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

