<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key={{ google_maps_api_key }}" type="text/javascript"></script>
    <script src="/scripts/jquery-1.3.2.js" type="text/javascript"></script>
    <script src="/scripts/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
		<script src="/scripts/soundmanager2.js" type="text/javascript"></script>
		<script src="/scripts/connect-with-soundcloud.js?v={{random}}" type="text/javascript"></script>		
		<script src="/scripts/app.js?v={{random}}" type="text/javascript"></script>       
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
		<link rel="stylesheet" href="/style/style.css" type="text/css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="/style/soundcloud-player.css" type="text/css" media="screen" charset="utf-8">
		
		<title>Tracks on a Map</title>
		
	</head>
	
	<body id="map" onunload="GUnload()">

		<div id="map_canvas" style="width:100%"></div>

    <div id="about-box">
      <a href="#close" class="close">X</a>
      <h1>Tracks on a Map</h1>
			<h2>Listen To The World's Music</h2>
      <h3>On <strong>Tracks on a Map</strong> you can <strong>listen</strong> to <a href="http://soundcloud.com">SoundCloud</a> tracks from around the world from any <strong>genre</strong>. Just click a city to start the fun!</h3>
      <div id="built-by">
        <p>
          Built by <a href="http://www.freenerd.de">Johan Uhle</a> with the awesome help of <br> 
					<a href="http://the-daily-mess.de">Katharina Birkenbach</a>, 
					<a href="http://eric.wahlforss.com">Eric Wahlforss</a> and 
					<a href="http://hinkeb.com">Henrik Berggren</a>. 
 				</p>
 				<p>
					Major parts have been written at the <a href="http://berlin.musichackday.org/">Music Hack Day Berlin</a> in autumn 2009. 
				<p>
					If you want to learn more about the project, <a href="http://www.twitter.com/tracksonamap"><strong>follow us on Twitter</strong></a> and check the <a href="http://github.com/freenerd/SoundCloud-Map/">repository on GitHub</a>.
        </p>
      </div>
    </div>    


    <div class="footer">
  		<div id="player-container" style="display:none">
  		  <div class="metadata">
      		<div>
      		</div>
          <a class="show-on-map" href="#" title="Show on map">Show on map</a>
          <a class="favorite-status" href="#" title=""><img src=""></a>
  		  </div>

  		  <div class="actions">
  		    <span>Share this Track:</span>
  				<a class="share-on-twitter" target="_blank" href="#" title="Share this Track on Twitter">Share on Twitter</a> 
  				<a class="share-on-facebook" target="_blank" href="#" title="Share this Track on Facebook">Share on Facebook</a> 
  				<a class="share-link" href="#" title="Share the Link to this Track">Share link</a>
        </div>

  			<div id="player">
  			  <div class="pause">
  			    ||
  			  </div>
  			  <div class="time">
  			    <span class="position"></span> / <span class="duration"></span>
  			  </div>
  			  <div class="waveform">
  			    <div class="loading"></div>
  			    <div class="progress"></div>
  			    <div class="spinner"></div>
  			    <img src="" alt="avatar">
  			    <div class="cover"></div>
  			  </div>			  
  			  <div class="next">
  			    >>
  			  </div>
  			</div>
  		</div>

      <div class="options">
        {# <div class="genres"> #}
        {#        Genres: #}
        {#        <a data="" class="active" href="#">All</a> |  #}
        {#        <a data="house" href="#">House</a> | #}
        {#        <a data="techno" href="#">Techno</a> |  #}
        {#        <a data="dubstep" href="#">Dubstep</a> | #}
        {#        <a data="hiphop" href="#">Hip Hop</a> | #}
        {#        <a data="electronic" href="#">Electronic</a> | #}
        {#        <a data="drumandbass" href="#">Drum &amp; Bass</a> | #}
        {#        <a data="trance" href="#">Trance</a> | #}
        {#        <a data="rock" href="#">Rock</a> | #}
        {#        <a data="pop" href="#">Pop</a> | #}
        {#        <a data="ambient" href="#">Ambient</a> | #}
        {#        <a data="indie" href="#">Indie</a> | #}
        {#        <a data="jazz" href="#">Jazz</a> | #}
        {#        <a data="classical" href="#">Classical</a> #}
        {#      </div> #}
        <div class="jump-to">
          <span class="toam"><a href="#" id="about">Tracks on a Map</a></span>
        {#   <span class="cwsc" id="cwsc-button"><a href="#" id="connect-with-sc"><img src="images/ajax-loader.gif"></a></span> #}
        {#   <span class="cwsc"><a href="#" id="connect-with-sc-followers">followers</a></span>          #}
        {#   <span class="cwsc"><a href="#" id="connect-with-sc-followings">following</a></span>           #}
        {#   <span class="cwsc"><a href="#" id="connect-with-sc-favorites">favorites</a></span>                    #}
          <a class="powered-by" href="http://soundcloud.com">Powered by</a>
        </div>
  		</div>
		</div>

		<!-- TEMPLATE FOR BUBBLE -->
    <div class="bubble" id="bubble-template">
      <div class="city"><span class="city-track-counter">1</span> tracks from <span class="city-name">Berlin</span> 
      <span class="actions">
				<a class="share-on-twitter" target="_blank" href="#" title="Share this City on Twitter">Share on Twitter</a> 
  			<a class="share-on-facebook" target="_blank" href="#" title="Share this City on Facebook">Share on Facebook</a> 
  			<a class="share-link" target="_blank" href="#" title="Share the Link to this City">Share as Link</a>
  		</span>
			</div>
      <ul class="track-list">
        <li class="previous">View previous</li>
        <li class="current">
          <span class="artwork">
            <img class="avatar" src="images/empty.png" alt="avatar">
          </span>
          <div class="current-meta">
            <h3 class="title"></h3>
            Uploaded by <span class="artist"></span> <span class="time"></span>
          </div>
          <a class="play-button smaller" href="#" title="Click to play">Click to play</a>

        </li>
        <li class="next">View next</li>
      </ul>
      <ul class="tracks-list">
        <li class="previous">previous</li>
        <li class="next">next</li>
      </ul>
    </div>
		<!-- END TEMPLATE FOR BUBBLE -->
		
		<!-- TEMPLATE FOR SHARING -->
    <div id="share-box">
      <div class="share-box">
        <a href="#close" class="close">X</a>
        <h1>Share This <span class="typ">Track</span></h1>
        <p>Send this link to anyone who you want to share this <span class="typ">track</span> with:</p>
        <input type="text" value="foobar" readonly="readonly">
      </div>
    </div>
		<!-- END TEMPLATE FOR SHARING -->
		
		<!-- GOOGLE ANALYTICS -->
		{%if not in_development_enviroment %}
			<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
			</script>
			<script type="text/javascript">
			try {
			var pageTracker = _gat._getTracker("UA-9785773-1");
			pageTracker._trackPageview();
			} catch(err) {}</script>
    {% endif %}		
		<!-- END GOOGLE ANALYTICS -->
		
		</body>		
</html>
		