<html>
	<head>
		<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key={{ google_maps_api_key }}" type="text/javascript"></script>
    <script src="/scripts/jquery-1.3.2.js" type="text/javascript"></script>
		<script src="/scripts/soundmanager2.js" type="text/javascript"></script>
		<script src="/scripts/app.js?v={{random}}" type="text/javascript"></script>       
    
		<link rel="stylesheet" href="/style/style.css" type="text/css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="/style/soundcloud-player.css" type="text/css" media="screen" charset="utf-8">
		
		<title>SoundCloud Map</title>
		
	</head>
	
	<body id="map" onunload="GUnload()">

		<div id="map_canvas" style="height: 100%; width:100%"></div>

    <div class="footer">
  		<div id="player-container" style="display:none">
  		  <div class="metadata">
  		    alfeky - Pacha NYC-Chus and Ceballos
  		  </div>
  			<div id="player">
  			  <div class="prev">
  			    <<
  			  </div>
  			  <div class="pause">
  			    ||
  			  </div>
  			  <div class="waveform">
  			    <div class="loading"></div>
  			    <img src="http://waveforms.soundcloud.com/kCLGT0Zduv3t_m.png" />
  			    <div class="progress"></div>
  			  </div>			  
  			  <div class="next">
  			    >>
  			  </div>
  			</div>
  		</div>

      <div class="options">
        <div class="genres">
          Genres:
    			<a data="all" href="#">All</a> | 
    			<a data="house" href="#">House</a> |
    			<a data="techno" href="#">Techno</a> | 
    			<a data="dubstep" href="#">Dubstep</a> |
    			<a data="hiphop" href="#">Hip Hop</a> |
    			<a data="electro" href="#">Electro</a> |
    			<a data="drumnbass" href="#">Drum &amp; Bass</a> |
    			<a data="trance" href="#">Trance</a> |
    			<a data="rock" href="#">Rock</a> |
    			<a data="pop" href="#">Pop</a> |
    			<a data="ambient" href="#">Ambient</a> |
    			<a data="indie" href="#">Indie</a> |
    			<a data="jazz" href="#">Jazz</a> |
    			<a data="classical" href="#">Classical</a> 
    		</div>
    		<div class="jump-to">
    		  SoundMap
    		  <form>
    		    Jump to:
    		    <input type="text" />
    		  </form>
    		</div>
  		</div>
		</div>

		<!-- TEMPLATE FOR BUBBLE -->
    <div class="bubble" id="bubble-template">
      <div class="city">Berlin</div>
      <div class="info">
        <img class="avatar" src="" />
        <ul>
          <li><h3 class="title"></h3></li>
          <li>Track by <span class="artist"></span></li>
          <li>Uploaded <span class="time"></span></li>
        </ul>
      </div>
      <a class="play-button" href="#">Click to play</a>
    </div>
		<!-- END TEMPLATE FOR BUBBLE -->
		
		
		<!-- GOOGLE ANALYTICS -->
		{%if not in_development_enviroment %}
			<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
			</script>
			<script type="text/javascript">
			try {
			var pageTracker = _gat._getTracker("UA-9785773-1");
			pageTracker._trackPageview();
			} catch(err) {}</script>
    {% endif %}		
		<!-- END GOOGLE ANALYTICS -->
		
		</body>		
</html>
		